.DraggableBloc, .ActorBloc
{
	width: 20vmin;
	height: 20vmin;
}

.ActorBloc
{
	border-radius: 50%;
	box-shadow: 0px 3px 10px #292929cc, inset 0px 1px 2px #fafafaaa;
	display: flex;
	position: absolute;
	backdrop-filter: blur(4px);
}

.ActorLogo
{
	height: 70%;
	margin: auto;
	pointer-events: none;
	user-select: none;
}

.Emitting
{
	animation: pulse infinite 0.5s linear, rota infinite 10s linear;
}

@keyframes pulse
{
	0%   {transform: scale(1);    box-shadow: 0 0 3px 2px #292929cc;}
	60%  {transform: scale(1.05); box-shadow: 0 0 3px 0px #292929cc;}
	85%  {transform: scale(0.95); box-shadow: 0 0 5px 1px #292929cc;}
	93%  {transform: scale(1.05); box-shadow: 0 0 0px 2px #292929cc;}
	100% {transform: scale(1);    box-shadow: 0 0 3px 1px #292929cc;}
}

@keyframes rota
{
	0%   {transform: rotate(0turn);}
	100% {transform: rotate(1turn);}
}
