body, #root
{
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Droid Sans' sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 100vw;
	height: 100vh;
	background-color: #fafa4433;
	overflow: hidden;
}
